<h2><%= @list.name %></h2>

    
    <ol>
      <% @places.each do |place| %>
        <li>Name:<%= place.name.capitalize %> <br>
           <% if @list.id == 1 %>
            Pro Tip: <%=place.content %>
            <% else %>
            Why do you want to go? <%= place.content %>
        </li>
      <% end %>  
   </ol>
   <% end %>
    <h4><a href="/lists/<%= @list.id %>/places/new">Add new place</a></h4>
    <h4><a href="/lists">Back</a></h4>
         