<h1>Welcome, <%= current_user.username %></h1>  

    <h2>Here is a list of places currently on the list:</h2>
    <ol>
      <% @places.each do |place| %>
        <li>Name:<%= place.name.capitalize %> <br>
            Why do you want to go? <%= place.content %>
        </li>
    
       <h4><a href="/places/<%= place[:id]%>/edit">Edit</a></h4>
    <h4><a href="/places/<%= place[:id] %>/delete">Delete</a></h4>
   </ol>
   <% end %>
    <h4><a href="/places/new">Add new place</a></h4>
    <h4><a href="/user/places">View my  places</a></h4>
    
    <h4><a href="/places">Back</a></h4>
<a href="/logout" >Logout</a>
  
         