<h1> Welcome, <%= @user.username %></h1>


 <h2><%= @list.name %></h2>

 
    <ol>
      <% @all_places.each do |place| %>
        <li><a href="/lists/<%= @list.id %>/places/<%= place.id %>"><%= place.name.capitalize %></a></li>
      <% end %>
    </ol>
    <h4><a href="/lists/<%= @list.id %>/places/new">Add new place</a></h4>
    <h4><a href="/lists">Back</a></h4>